*{
  margin: 0 auto;
  padding: 0 auto;
}
.Base-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
  padding:20px;
  font-family: sans-serif;
 
}
.main-segment{
  width: 100%;
  text-align: center;
  height: 75%;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr)); 
}
.card{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  margin: 20px;
  background-color: lightcyan;
}
.content{
  margin: 5px;
}
.control{
  margin: 10px;
}
.btn-base{
  display: flex;
  flex-direction:row ;
  margin: 5vw;
  gap: 10rem;
  justify-content: center;
}
.addstudent-input{
  margin:0 auto;
  height: 11vh;
 background-color: lightgreen;
 border-radius: 50px;
 width: 80%;
}
.updatestudent-input{
  border:1px solid red;
  height: 11vh;
  background-color: rgb(249, 249, 155);
  border-radius: 50px;
  width: 80%;
}

@media only screen and (max-width:1150px) {
  .addstudent-input{
    width: 550px;
    height: 150px;
  }
}
@media only screen and (max-width:600px) {
  .card-container{
    display: flex;
    flex-direction: column;
  }
}